body {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-size: 100%;
  background-repeat: repeat;
  background-position: center 0%;
  background-color: #dadada;
}

.box {
  width: 300px;
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #8ea7c9bd;
  text-align: center;
  border-radius: 24px;
}
.box h1 {
  color: #05316bbd;
  text-transform: uppercase;
  font-weight: 300;
  font-family: "Raleway", sans-serif;
  font-size: xx-large;
}
.box input[type="text"],
.box input[type="password"] {
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  font: sans-serif;
  border: 2px solid #123555;
  padding: 14px 10px;
  width: 200px;
  outline: none;
  color: #1e4870;
  border-radius: 24px;
  transition: 0.25s;
}
.box input[type="text"]:focus,
.box input[type="password"] {
  width: 280px;
  border-color: #123555;
}
.box input[type="submit"] {
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  font: sans-serif;
  border: 2px solid #075fb1;
  padding: 14px 10px;
  width: 150px;
  outline: none;
  color: #002446;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
}

.box input[type="submit"]:hover {
  background: #89abca;
}

.box input[type="button"] {
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  font: sans-serif;
  border: 2px solid #075fb1;
  padding: 14px 10px;
  width: 200px;
  outline: none;
  color: #075fb1;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
}

a[type="redirect"] {
  color: #123555;
  font-size: small;
}

p[type="incorrect"] {
  color: #123555;
  font-size: small;
}
