<!DOCTYPE html>

<html lang="en">

    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
            integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <meta charset="utf-8" />

        <title>MedSourceGo</title>
        <meta name="description" content="MedSourceGo" />
        <meta name="author" content="Llama" />
        {% load static %}

        <link rel="stylesheet" type="text/css" href="{% static 'index.css' %}">
    </head>

    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand active" href="/">MedSourceGo</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">
                            Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/login">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#aboutUs">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/signout">Signout</a>
                    </li>
                </ul>
            </div>
        </nav>

        <div class="jumbotron float-md-center mx-auto" style="text-align:center;">
            <h1 class="display-3" style="text-align:center;">MedSourceGo</h1>
            <p class="lead" style="text-align:center;">Emergency Medical Resources Seeker</p>
            <hr class="my-4" style="text-align:center;">
            <p>Do you have trouble finding masks or other things for coronavirus virus?
                <br>
                We can help!
                <br>
                {%if loggedin%}
                <a class="btn btn-primary btn mt-4" href="#application" role="button">Modify Supply</a>
                {%else%}
                <a class="btn btn-primary btn-lg mt-4" href="#application" role="button">I'm In!</a>
            <div class="text-muted">Already Registered?<a href="/login"> <u>Login</u></a></div>
            {%endif%}
            </p>
        </div>


        <div class="my-5 mx-auto">
            <h2 class="display-4 mt-4 mx-auto" style="text-align:center;">Overview</h2>
            <hr class="my-4" style="width:80%;">
            <p class="lead" style="text-align: center"> <a href="https://www.cdc.gov/coronavirus/index.html">
                    What is coronavirus virus? </a>
                <br>
                <strong>Challenge</strong>: Supplies and demands are disrupted
                <!-- <a herf="https://www.cnbc.com/2020/05/01/coronavirus-disrupts-supply-demand-farmers-throw-flowers-milk-fruit.html">learn more</a> -->
                <br>
                <strong>Our Solution</strong>: a platform for people to find or donate supplies
            </p>

            <section id=" mymap" style="background-color: #F6F6F6; padding: 40px">
                <!--The div element for the map -->
                <div id="map" style="height: 500px"></div>
                <script>
                    // Initialize and add the map
                    function initMap() {
                        // The location of marker
                        var place = { lat: 39.94, lng: -75.1954 };
                        var pennplace = { lat: 39.953885, lng: -75.193048 }
                        // The map, centered at the marker
                        var map = new google.maps.Map(
                            document.getElementById('map'), { zoom: 10, center: place });
                        // The marker positioned
                        var marker = new google.maps.Marker({ position: place, map: map });
                        var marker2 = new google.maps.Marker({ position: pennplace, map: map });
                    }
                </script>
                <script async defer
                    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDx93sGIbD92ACbDX3yCxjvE8sBIjQkUHo&callback=initMap">
                    </script>
            </section>
        </div>


        <script>
            var map = new GMaps({
                el: '#map',
                lat: 40.730610,
                lng: -73.935242
            });

            map.addMarker({
                lat: 40.700610,
                lng: -73.997242,
                title: 'New York'
            });

            map.setZoom(8);
        </script>

        <!-- Donot/Seeker Form -->
        <form id="application" name="application" class="mx-auto" style="width: 70%; text-align:left;" method="post">
            {% csrf_token %}
            {% if not loggedin %}

            <div class="form-group">
                <h2 class="display-4 mt-5" style="text-align:center;">Log Supplies</h2>
                <hr class="mb-4">
                <div class="row">
                    <div class="col-md-auto">
                        <h5 class="lead">I'm a ...</h5>
                    </div>
                    <div class="col-md-5">
                        <select class="custom-select mr-sm-2" id="userType" name="userType">
                            <option selected value="N/A">Choose User Type</option>
                            <option value="Donor">Donor</option>
                            <option value="Seeker">Seeker</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label>Username</label>
                {% if unique %}
                <input required="true" name="username" class="form-control" placeholder="Enter username">
                <small id="usernameHelp" class="form-text text-muted">Username need to be unique, will be used for login</small>
                {% else %}
                <input required="true" name="username" class="form-control is-invalid" placeholder="Enter username">
                <small id="username" class="text-danger">Username is already taken.</small>
                {% endif %}
            </div>
            <div class="form-group">
                <label>Password</label>
                <input required="true" name="password" type="password" class="form-control" placeholder="Password">
            </div>
            <div class="form-group">
                <label>Address</label>
                <input required="true" name="address" class="form-control" aria-describedby="address" placeholder="Enter address">
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input name="email" class="form-control" aria-describedby="emailHelp" placeholder="Enter email">
            </div>
            <div class="form-group">
                <label>Phone number</label>
                <input name="tel" class="form-control" aria-describedby="tel" placeholder="Enter your phone number">
            </div>
            {% endif %}


            <!-- user status -->
            {% if loggedin %}
            <div class="mx-auto mm-5 py-5" id="userInfo" style="text-align: center; width: 70%">
                <div class="card-header">
                    You are logged in as: <em>{{user}}</em>
                    <a href="/signout"> <u>logout</u></a>
                </div>
                <ul class="list-group list-group-flush">
                    <a class="list-group-item bg-white text-dark" href="#modifyType" id="modifyType">User Type: {{ user.profile.userType }}</a>
                    <a class="list-group-item bg-white text-dark" href="#modifySupply" id="modifySupply">Supply Type: {{ user.profile.supplyType }}</a>
                    <a class="list-group-item bg-white text-dark" href="#modifySupply">Supply Number: {{ user.profile.supplyNumber }}</a>
                    <li class="list-group-item bg-light">Address: {{ user.profile.addr }}</li>
                    <li class="list-group-item bg-light" id="modifySupply">Tel: {{ user.profile.tel }}</li>
                </ul>
            </div>
            <div class="form-group">
                <h4 class="mt-3 lead">Change User Type</h4>
                <select class="custom-select mr-sm-2" id="userType" name="userType">
                    <option selected value={{user.profile.userType}}>Choose User Type</option>
                    <option value="donor">Donor</option>
                    <option value="seeker">Seeker</option>
                </select>
                <h4 class="mt-5 lead">Change Supply Type/Amount</h4>
                <a href="/signout">
                    <p>Fill another form to donate/seek different supplies</p>
                </a>
                {% endif %}
                <div class="form-row">
                    <div class="col-7">
                        <label for="supplyType">Supply Type</label>
                        <select id="supplyType" name="supplyType" class="form-control">
                            <option selected value={{user.profile.supplyType}}>Choose Supply Type</option>
                            <option>Masks</option>
                            <option>Toilet Paper</option>
                            <option>First-Aid Kit</option>
                            <option>Respirator</option>
                        </select>
                    </div>
                    <div class="col">
                        <label for="supplyNumber">How Many</label>
                        <input name="supplyNumber" class="form-control" placeholder="# of supplies" value={{user.profile.supplyNumber}}>
                    </div>
                </div>

            </div>
            <!-- anonymous check -->
            <!-- <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1">I want to be anonymous</label>
                </div> -->
            <a type="submit" class="btn btn-primary my-4" href="#userInfo">Submit</a>
        </form>

        <!-- footers -->
        <div class="mx-auto my-5 py-5" id="about" style="text-align: center; width: 70%">
            <h2 id="aboutUs" class="lead">About Us</h2>
            <hr class="mb-4" style="width: 50%">

            <ul style="list-style-type:none; text-align: center">
                <h2 class="lead">Estee Chen </h2>
                <li>Project Manager</li>
                <li>Front-end Programmer</li>
                <li>University of Pennsylvania CS '22</li>
            </ul>

            <ul style="list-style-type:none; text-align: center">
                <h2 class="lead">Audrey Zheng</h2>
                <li>Back-end Programmar</li>
                <li>James Hopkins CS '22</li>
            </ul>
            <ul style="list-style-type:none; text-align: center">
                <h2 class="lead">Qingyuan Peng</h2>
                <li>Project Manager</li>
                <li>Back-end Programmer</li>
                <li>University of Pennsylvania DMD'22</li>
            </ul>
        </div>
        <br><br><br>



        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/gmaps.js/0.4.25/gmaps.js"></script>
    </body>

</html>